.action {
  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__small {
    color: var(--color-accent);
  }

  &__heading {
    @include mobile-s {
      font-size: 3rem;
      text-align: center;
    }
  }

  &__button {
    margin-top: 2rem;
  }

  &--center {
    text-align: center;
  }
}
