.header {
  &__decoration {
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.75rem;

    @include mobile {
      align-items: stretch;
    }
  }

  &__title {
    margin-top: 1rem;
    font-family: var(--font-family-heading);
    font-size: 2rem;
    color: black;
    text-align: center;
    text-transform: uppercase;

    @include mobile {
      display: inline-flex;
      column-gap: 0.5rem;
      margin-top: 0;
    }
  }

  &__menu {
      margin-top: 1rem;
  }

  &__divider {
    margin-top: 2rem;
    border: 1px solid #0000001a;
  }

  &__for-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger-button {
  }
}
